{% load static %}
<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <title>Fashionbet Mobil</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />  
    <link rel="apple-touch-icon" href="{static 'images/icon.png' %}">   
    <meta name="theme-color" content="white"/>  
    <meta name="apple-mobile-web-app-capable" content="yes">  
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="apple-mobile-web-app-title" content="Fashionbet"> 
    <meta name="msapplication-TileImage" content="{static 'images/icon.png' %}">  
    <meta name="msapplication-TileColor" content="#FFFFFF">
  </head>
  <body class="fullscreen">
    <div class="container">
      <img src="{% static 'images/logo.png' %}"/>
      <input class="add-button "type="image" style="width:100%" src="{% static 'images/download.png' %}"/>
    </div>
    <script>
      window.onload = () => {
        'use strict';

        if ('serviceWorker' in navigator) {
          navigator.serviceWorker
                   .register('/sw.js');
        }
      }
    </script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
